table{
    border: 1px solid #333;
    width: 90%;
    margin-top: 20px;
    transition: all .5s;
}

thead tr td{
    font-size: 18px;
    font-weight: 550;
    padding: 5px;
    text-align: center;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    transition: all .5s;
}

thead tr td:last-child{
    border-right: none;
}



tbody tr td{
    padding: 5px;
    text-align: center;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    transition: all .5s;
}

tbody tr td:last-child{
    border-right: none;
}

tbody tr td button{
    text-align: center;
    width: 90%;
    min-width: 60px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #c80000;
    background-color: #c80000;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: all .5s;
}

tbody tr td button:hover{
    background-color: white;
    color: #c80000;
}





tfoot tr td{
    padding: 5px;
    text-align: center;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    transition: all .5s;
}

tfoot tr td:first-child{
    font-size: 18px;
    font-weight: 550;
}

tfoot tr td:last-child{
    border: none;
}

tfoot tr td:nth-child(3){
    border: none;
}

tfoot tr:last-child td{
    border-bottom: none;
}













@media (max-width: 800px) {

table{
    width: 100%;
}
}


@media (max-width: 320px) {

thead tr td{
    font-size: 14px;
    font-weight: 550;
    padding: 3px;
    text-align: center;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    transition: all .5s;
}

tbody tr td{
    font-size: 14px;
    padding: 3px;
    text-align: center;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
}

tbody tr td button{
    text-align: center;
    width: 90%;
    min-width: 50px;
    height: 25px;
    border-radius: 50px;
    border: 1px solid #c80000;
    background-color: #c80000;
    color: white;
    cursor: pointer;
    font-size: 12px;
    transition: all .5s;
}

}