.input-con-filter{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    align-self: center;
    margin-bottom: 20px;
    width: 90%;
}

.input-text-filter{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #333;
}

.select-input-filter{
    align-self: center;
    font-size: 18px;
    width: 100%;
    padding-left: 1%;
    height: 40px;
    border: none;
    border-radius: 5px;
    outline: 1px solid #333;
    transition: all .2s;
}

.select-input:focus{
    transform: scale(1.005);
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.2);
}


@media (max-width: 800px) {
    
.input-con-filter{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    align-self: center;
    margin-bottom: 20px;
    width: 100%;
}
    
    }